<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <div class="card text-center">
        <div class="card-header">
          ¿Quienes somos?
        </div>
        <div class="card-body">
          <h5 class="card-title">Store de primera calidad</h5>
          <p class="card-text">Importamos productos del exterior al mejor precio. Adicionalmente, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis provident a atque nemo commodi earum cumque accusamus quasi exercitationem consectetur rerum, maiores cum debitis enim fugit! Rem, labore quas?</p>
        </div>
        <div class="card-footer text-muted">
          !4 de noviembre 2021
        </div>
      </div>

    </div>
    <div class="col-6">
      <div class="card text-center">
        <div class="card-header">
          ¿Que Ofrecemos?
        </div>
        <div class="card-body">
          <h5 class="card-title">Distintos Servicios y Garantias.</h5>
          <p class="card-text">Ofrecemos seguridad en el envio, el mejor precio, y una cotizacion del dolar ajustada.</p>
        </div>
        <div class="card-footer text-muted">
          Gracias por elegirnos.
        </div>
      </div>

    </div>
  </div>
</div>
