<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">J.Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn nav-link " aria-current="page" routerLink="home">Inicio</a>
        </li>
        <li class="nav-item">
          <a class=" btn nav-link"  routerLink="informacion">Informacion</a>
        </li>
        <li class="nav-item">
          <a class="btn nav-link" routerLink="login">Login</a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-info position-relative  nav-link" data-bs-toggle="modal" data-bs-target="#carrito">
            Carrito
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{carritoCantidadItems}}
              <span class="visually-hidden">unread messages</span>
            </span>
          </button>
          <!-- <a class="btn nav-link" data-bs-toggle="modal" data-bs-target="#carrito">Carrito</a> -->
        </li>
      </ul>
    </div>
  </div>
</nav>




<!-- Modal -->
<div class="modal fade" id="carrito" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Carrito</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-carrito></app-carrito>
      </div>
      <div class="modal-footer">
        U$S {{totalCarrito}}
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" routerLink="compra" [disabled]="carritoCantidadItems === 0">Comprar</button>
      </div>
    </div>
  </div>
</div>
